{% if user.is_authenticated %}
    <p>
         Welcome <em>{{ user.profile.nickname }}</em> !
    </p>
    <p>
        <a href="{% url 'logout' %}?next={{ request.path }}">
            LOGOUT
        </a>
    </p>
    <hr>
    <p>
        <a href="{% url 'record:match_new' %}">
            전적 생성
        </a>
    </p>
    <p>
        <a href="{% url 'record:find' %}">
            상대전적 확인
        </a>
    </p>
{% else %}
    <p>
        <a href="{% url 'login' %}">
            LOGIN
        </a>
    </p>
    <p>
        <a href="{% url 'accounts:signup' %}">
            SIGN UP
        </a>
    </p>
{% endif %}
