{% extends "record/base.html" %}
{% load staticfiles %}

{% block title %}
    상대방 찾기
{% endblock %}

{% block main %}
    <p>{{title_text}}</p>
    <p><input id="id_username" name="username" placeholder="이름으로 검색해주세요." type="text"/></p>
    <button onclick="FindUser()" type="submit">찾기</button>
    <div id="id_result"></div>
{% endblock %}

{% block script %}
    <script>
        function FindUser() {
            var username = $("#id_username").val();
            $.ajax({
                method: "POST",
                data: {
                    username: username,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                }
            }).done( function(html) {
                // view가 작업을 완료하고 응답으로 보낸 HTML 문서를 페이지에 삽입한다.
                $("#id_result").html(html);
            });
        }
    </script>
{% endblock %}
