{% extends "record/base.html" %}
{% load staticfiles %}

{% block title %}
    상대방 찾기
{% endblock %}

{% block main %}
    <p>{{title_text}}</p>
    <p><input id="id_username" name="username" placeholder="이름으로 검색해주세요." type="text"/></p>
    <button onclick="FindUser()" type="submit">찾기</button>
    <div id="id_result"></div>
{% endblock %}

{% block script %}
    function FindUser() {
        var username = $("#id_username").val();
        $.ajax({
            method: "POST",
            data: {
                username: username,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }
        }).done( function(html){
            $("#id_result").html(html);
        });
    }
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Semantic UI Core CSS -->
    <link href="{% static "semantic.min.css" %}" rel="stylesheet">
</head>
<body>
    <p>
        안녕하세요. {{user.username}}님.
    </p>
    <p>
        {% if request.GET.flag == '0' %}
            함께 플레이한 유저를 검색해주세요.
        {% else %}
            전적이 궁금한 유저를 검색해주세요.
        {% endif %}
    </p>
    <form class="ui form" action="" method="POST">
        {% csrf_token %}
        <div class="field">
            <label>상대 플레이어 찾기</label>
            <select class="ui search dropdown" name="id">
                <option value="">아이디 검색</option>
                {% for user in users %}
                    <option value={{user.pk}}>{{user.username}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <script src="{% static "jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "semantic.min.js" %}"></script>
    <script> $("select.dropdown").dropdown(); </script>
</body>
</html>
{% endcomment %}
